body {
  font: 12px sans-serif;
  text-anchor: middle;
}

body, html {
  margin: 0px;
}

text {
  font: 12px sans-serif;
  text-anchor: middle;
}

.node--hover circle {
  stroke: #000;
  stroke-width: 1.2px;
