body {
  font: 12px sans-serif;
  text-anchor: middle;
}

body, html {
  margin: 0px;
}

text {
  font: 12px sans-serif;
  text-anchor: middle;
}

.node--hover circle {
  stroke: #000;
  stroke-width: 1.2px;
}

#header {
  border: 3px solid #ACE;
  border-width: 0px 0px 3px 0px;

  background: #DEF;
  min-height: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}
.container {
  margin-bottom: 20px;
}
#content {
  /*background-color: #ff9966;*/
  min-height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
  border: 3px solid #ACE;
  border-left: 0px;

  float: left;
}
#data {
  /*background-color: #ff9966;*/
  min-height: 20px;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid #ACE;
  border-right: 0px;
  background: #DEF;

  overflow: auto;
}
#footer {
  border: 3px solid #ACE;
  border-width: 3px 0px;
  background: #DEF;
  min-height: 20px;
}